.navbar-default{
	background-color:#88eef7;
	border-color:#95d0ea
}
.nav-menu{
	float:right;
	font-family: Raleway,Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

.logoimage{
	float:left;
}

.site-header {
    position: relative;
    text-align: center;
    background-color: #27AE60;
    color: #fff;
    margin-bottom: 0;
}